name: Deploy FE to Personal Repo

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Create output
        run: sh ./build.sh
      - name: Push to personal repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.AUTO_ACTIONS }}
        with:
          source-directory: "output"
          destination-github-username: "wjdvlf5456"
          destination-repository-name: "be18-fin-jelly-queuein-fe"
          user-email: ${{ secrets.EMAIL }}
          commit-message: "Sync from org repo: ${{ github.sha }}"
          target-branch: main
